<div class="mouse-glow"></div>

<app-header></app-header>

<main>
  <section class="reveal">
    <app-hero></app-hero>
  </section>

  <section class="reveal">
    <app-about></app-about>
  </section>

  <section class="reveal">
    <app-experience></app-experience>
  </section>

  <section class="reveal">
    <app-projects></app-projects>
  </section>

  <section class="reveal">
    <app-skills></app-skills>
  </section>

  <section class="reveal">
    <app-contact></app-contact>
  </section>
</main>

<app-footer></app-footer>