body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0f172a; /* Dark background for the whole site */
  color: #e2e8f0; /* Light text */
  scroll-behavior: smooth;
}